.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--baseline) * 0.5) var(--baseline);

  font-size: 1.125rem;
  font-weight: 700;
  line-height: var(--baseline);

  text-decoration: none;
  cursor: pointer;

  &:hover {
  }
}

.button--type-primary {
  color: var(--white);

  background-color: var(--primary);
}

.button--type-secondary {
  padding-top: calc(var(--baseline) * 0.5 - 1px);
  padding-bottom: calc(var(--baseline) * 0.5 - 1px);
  border: 1px solid var(--primary);
  color: var(--primary);
}
